* {
   box-sizing: border-box;
}

html {
   font-size: 10px;
   background-color: #242614;
   background: linear-gradient(90deg, #242614, #485922, #242614);
}

caption {
   font-size: 1.25rem;
   font-style: italic;
}

body {
   margin: 0 auto;
   position: relative;
}


h1 {
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 6rem;
   font-weight: 600;
   text-align: center;
   color: #f2f2f2;
}

h2 {
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 2.5rem;
   line-height: 1.2;
}

h3 {
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 3rem;
   text-align: center;
   color: #f2f2f2;
   margin-bottom: 2rem;
}

a, p {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 1.5rem;
   color: #B4BF5E;
   line-height: 2;
   letter-spacing: 1px;
   padding-bottom: 2.5rem;
   text-decoration: none;
}

p {
   text-indent: 2rem;
}


/* NAV */
nav {
   background-color: #B4BF5E;
   width: 75%;
   height: 4rem;
   display: grid;
   grid-template-columns: repeat(10, auto);
   margin: -3rem auto;
   padding: 0 2rem;
   left: 0;
   right: 0;
   position: fixed;
   border-bottom-left-radius: 2rem;
   border-bottom-right-radius: 2rem;
   box-shadow: 0 0 20px black;
   z-index: 5;
}

nav a {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   text-align: center;
   font-size: 1.1rem;
   text-transform: uppercase;
   color: white;
   align-self: center;
   padding: 0.5rem;
}

nav a:hover {
   background-color: #f2f2f2;
   color: #242614;
   border-radius: 2rem;
   padding: 0.25rem;
   box-shadow: 0 0 5px #485922;
}

/* MAIN - CONTAINER */
main {
   width: 70%;
   margin: 0 auto;
}

/* Main Picture */
#main-pic-box {
   width: 100%;
   height: 70rem;
   display: grid;
   grid-template-columns: 37rem 1fr;
   grid-template-rows: 16rem 12rem 35.5rem;
   margin: 3rem auto 6rem;
}

#main-pic {
   background-image: url(../img/gary-bendig-6GMq7AGxNbE-unsplash.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: bottom left;
   grid-area: 1 / 1 / 3 / 4;
   height: 70rem;
   border-radius: 2rem;
   box-shadow: 0 0 10px black;
}

.photo-credit {
   font-family: 'Times New Roman', Times, serif;
   font-size: 1.2rem;
   font-style: italic;
   color: #f2f2f2;
   text-align: right;
   margin: 2rem;
   grid-area: 5 / 2 / 5 / 4;
   padding: 0.25rem 1rem;
   background-color: rgba(36, 38, 19, 0.75);
   border-radius: 2rem;
   justify-self: flex-end;
   align-self: center;
   z-index: 1;
}

#main-pic-box h1 {
   grid-area: 2 / 1 / 3 / 2;
   text-align: left;
   margin-left: 3rem;
}

#main-pic-box h2 {
   grid-area: 3 / 1 / 4 / 2;
   margin-left: 3rem;
   margin-top: 4rem;
   text-align: left;
}


/* ARTICLE */
article {
   width: 100%;
   margin: 0 auto;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
   grid-gap: 3rem;
   
}

section {
   background-color: #242614;
   border-radius: 2rem;
   padding: 3rem;
   box-shadow: 0 0 10px black, inset 0 0 2px #f2f2f2;
}

section h3 {
   margin-bottom: 3rem;
}

section figure {
   display: grid;
}

section img {
   width: 100%;
   border-radius: 2rem;
   margin-bottom: 1rem;
   box-shadow: 0 0 10px black;
}

.article-photo-credit {
   font-family: 'Times New Roman', Times, serif;
   font-size: 1.2rem;
   font-style: italic;
   text-align: right;
   color: #f2f2f2;
   margin-right: 1rem;
}


/* FOOTER */
footer {
   width: 100%;
   margin-top: 8rem;
   padding: 3rem;
   background-color: #B4BF5E;
   box-shadow: 0 0 20px black;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;

}
footer a, footer p, span {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 1.25rem;
   width: 100%;
   text-align: center;
   color: #242614;
   padding: 0;
}

footer a {
   text-decoration: underline;
}


/* MEDIA QUERIES */
@media (max-width: 1200px) {
   #main-pic-box {
      height: 65rem;
      grid-template-columns: 37rem 1fr;
      grid-template-rows: 10rem 12rem 33rem;
   }
   
   #main-pic {
      height: 65rem;
   }
}

@media (max-width: 992px) {
   nav {
      width: 95%;
   }
   
   main
    {
       width: 90%;
    }
   
   #main-pic-box {
      height: 60rem;
      grid-template-columns: 37rem 1fr;
      grid-template-rows: 8rem 10rem 35rem;
   }
   
   #main-pic {
      height: 60rem;
   }
}

@media (max-width: 768px) {
   nav {
      width: 100%;
      height: 7.5rem;
      margin-top: -10rem;
      grid-template-columns: repeat(5, auto);
   }

   main {
      width: 100%;
   }

   #main-pic-box {
      margin-top: 10rem;
      height: 62rem;
      grid-template-columns: 37rem 1fr;
      grid-template-rows: 8rem 10rem 35rem 6.5rem;
   }

   .photo-credit {
      grid-area: 5 / 1 / 5 / 4;
      background: none;
   }

   article {
      padding: 0 10%;
   }
}

@media (max-width: 576px) {
   nav {
      grid-template-columns: none;
      height: 50rem;
      position: static;
      margin-top: 0;
      padding: 3rem;
   }

   nav a {
      font-size: 1.5rem;
   }

   #main-pic {
      background-position: center center;
   }

   #main-pic-box {
      height: 105rem;
      display: grid;
      grid-template-columns: none;
      grid-template-rows: 61rem 4rem 14rem 30rem;
   }   

   .photo-credit {
      grid-row: 2 / 3;
   }

   #main-pic-box h1 {
      margin: 0 10%;
      text-align: center;
      grid-row: 3 / 4;
   }
   
   #main-pic-box h2 {
      margin: 0 10%;
      color: #f2f2f2;
      text-align: center;
      grid-row: 4 / 5;
   }



}


/* Color Theme Swatches in Hex */
.wilderness-landscape-with-green-vegetation-1-hex { color: #485922; }
.wilderness-landscape-with-green-vegetation-2-hex { color: #798C35; }
.wilderness-landscape-with-green-vegetation-3-hex { color: #B4BF5E; }
.wilderness-landscape-with-green-vegetation-4-hex { color: #242614; }
.wilderness-landscape-with-green-vegetation-5-hex { color: #F2F2F2; }

/* Color Theme Swatches in RGBA */
.wilderness-landscape-with-green-vegetation-1-rgba { color: rgba(71, 89, 33, 1); }
.wilderness-landscape-with-green-vegetation-2-rgba { color: rgba(121, 140, 53, 1); }
.wilderness-landscape-with-green-vegetation-3-rgba { color: rgba(179, 191, 93, 1); }
.wilderness-landscape-with-green-vegetation-4-rgba { color: rgba(36, 38, 19, 1); }
.wilderness-landscape-with-green-vegetation-5-rgba { color: rgba(242, 242, 242, 1); }
